@import '../../../res/scss/variables';

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0 50px;
  text-align: center;
}

.items:not(:last-child) {
  margin: 0 100px 30px 0;
}
.items:nth-child(5n) {
  margin-right: 0;
}
.image {
  height: 100px;
  width: 100px;
  margin-bottom: 25px;
  transition: all 200ms ease-in-out;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.text {
  font-family: $font-primary;
  font-size: 16px;
  color: $text-secondary;
}
