@import '../../res/scss/variables';

.title {
  padding: 50px 0 47px;
  text-align: center;
  font-family: $font-primary;
  font-size: 34px;
  color: $text-primary;
}

.pagin {
  text-align: center;
}
