.menu {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    display: none;
  }
  @media (min-width: 1024px) {
    display: none;
  }
}

.menu_button {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
