@import '../../res/scss/variables';
.header {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    border-bottom: 1px solid $text-secondary;
  }
  @media (min-width: 1024px) {
    border-bottom: 1px solid $text-secondary;
  }
}

.logo {
  padding: 12px 0;
  fill: $text-secondary;
  &:hover,
  &:focus {
    fill: $text-primary;
  }
}
.dropdown {
  position: fixed;
  left: 40px;
  bottom: 100px;
  cursor: pointer;
  display: none;
  @media (min-width: 1024px) {
    display: block;
  }
}

.dropdown_content {
  display: none;
  z-index: 1;
  bottom: 50px;
  transition: 0.25s;
}

.dropdown:hover .dropdown_content {
  display: block;
  transition: 0.25s;
}
